body {
    background-color: #0d0d0d;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.mini-sidebar {
    width: 60px;
    height: 100vh;
    background-color: #f8f6f6;
    position: fixed;
    left: 0px;
    top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 999;
    transition: 0.4s ease;
}

.mini-sidebar i {
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 23px;
}

.menu {
    position: absolute;
    top: 300px;
}

.icons {
    position: absolute;
    bottom: 25px;
}

.icons i {
    color: #212529;
    padding-bottom: 15px;
}

.menu i {
    color: #0d0d0d;
    font-size: 25px;
}

.big-sidebar {
    width: 250px;
    height: 100vh;
    background: #0d0d0d;
    color: white;
    position: fixed;
    top: 0;
    left: -250px;
    padding: 20px;
    transition: 0.4s ease;
    z-index: 1000;
}

.big-sidebar.active {
    left: 0;
}

.menu-list {
    padding: 0;
    margin-top: 20px;
    display: none;
}

.menu-list li {
    list-style: none;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-list li:hover,
.menu-list li a:hover {
    color: #e63f3f !important;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.copy {
    font-size: 13px;
    color: #bbb;
}

.title {
    font-weight: 400 !important;
}

.red {
    color: #e63f3f;
}

.stars {
    color: yellow;
}

.rate {
    border: 3px solid green;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    text-align: center;
    margin-top: 10px;
}

.movie-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transform: perspective(1000px) rotate(0deg) scale(1);
    transition: transform 0.5s ease;
}

.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    /* تكبير الصورة */
}

.movie-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    backdrop-filter: blur(0px);
    opacity: 0;
    transition: opacity 0.5s ease, backdrop-filter 0.5s ease;
    padding-left: 15px;
    padding-top: 10px;
}

.movie-card:hover img {
    transform: scale(1.1) rotate(5deg);
}

.movie-card:hover .overlay {
    opacity: 1;
    backdrop-filter: blur(4px);
}

#contact .form-control {
    box-shadow: none;
    background-color: transparent;
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    color: rgb(255, 255, 255);
    border-style: none none solid;
    border-image: initial;
    border-bottom: 1px solid rgb(206, 212, 218);
    border-color: rgb(206, 212, 218);
    border-radius: 0px;
    transition: 0.5s;
}

.error {
    color: rgb(214, 46, 51);
    position: absolute;
    font-weight: 400;
}

#submit:hover {
    background-color: white !important;
    color: #0d0d0d !important;
}

.submit-error {
    background-color: rgb(219, 53, 69) !important;
}

/* Animation shake */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-8px);
    }

    50% {
        transform: translateX(8px);
    }

    75% {
        transform: translateX(-8px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.3s ease-in-out !important;
}

#scrollUp {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0d0d0d;
    color: white;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 999;
}